<!-- INCLUDE overall_header.html -->

<div id="pageActions" class="noBreadCrums">
  <a href="#">
    <button type="button">Save</button>
    <button type="button">Cancel</button>
  </a>
</div>

<div id="emblemCreator">
   <div id="shapes">
   	    <img draggable="true" src="{T_THEME_PATH}/shapes/R.svg" width="250" height="250"></img>
	    <img draggable="true" src="{T_THEME_PATH}/shapes/E.svg" width="250" height="250"></img>
	    <img draggable="true" src="{T_THEME_PATH}/shapes/P.svg" width="250" height="250"></img>
	    <img draggable="true" src="{T_THEME_PATH}/shapes/z.svg" width="250" height="250"></img>
  </div>
  
  <div id="editor">
    <canvas id="emblem" width="320px" height="320px"></canvas>
  </div>
  
  <div id="layers">
    <ul>
    	
    </ul>
    
  </div>
  
    
</div>
<div class="delimiter"></div>
<script src="{T_THEME_PATH}/js/clan_emblem.js"></script>
<!-- INCLUDE overall_footer.html -->