			<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
			<div id="eZnvloqeotUjYqAuuCIMMcaf6v6ZvxKAUO3Xux4Nd0YDQmmPLNLL0aEdlPdxYE8pKEKSkZCKWi5rORWZgYaXKfyRFAqzia8D4daaVCD7N3oezyAhQlvecsFpCdSKlExP"></div>
			</div> <!-- end of content -->
		</div> <!-- end of wrapper -->
		<div id="sb_friends">

			<a class="sb_header">FRIENDS LIST</a>
			<a class="sb_resize">-</a>
			<div id="sb_friendslist" class="sb_list">
				<ul>
					
				</ul>
			</div>

			<div id="sb_addFriend">
				<input type="text" placeholder="Search for player" />
			</div>
			<audio id="sb_action" src="/friends/static/action.wav" preload="auto"></audio>
			<audio id="sb_play" src="/friends/static/play.wav" preload="auto"></audio>
		</div>

		<script src="{T_THEME_PATH}/js/theme.js"></script>
		<script src="{T_THEME_PATH}/js/header.js"></script>
		<script src="{T_THEME_PATH}/js/multiplayer.js"></script>
		<script src="/friends/static/friends.js"></script>
		
		<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>
		<script type="text/javascript" src="{T_THEME_PATH}/js/libs/editor.js"></script>
	</body>
</html>